/* CRITERIA
If the browser screen width is greater than 1200 pixels, display the top-left image of homer.jpg (i.e., the one that reads "Homer's Night Out")
If the browser screen width is greater than 1100 pixels but less than or equal to 1200 pixels, display the second image on the first row
If the browser screen width is greater than 1000 pixels but less than or equal to 1100 pixels, display the first image on the second row (i.e., "Hmm...").
If the browser screen width is greater than 900 pixels but less than or equal to 1000 pixels, display the second image on the second row.
If the browser screen width is greater than 800 pixels but less than or equal to 900 pixels, display the first image on the third row.
If the browser screen width is greater than 700 pixels but less than or equal to 800 pixels, display the second image on the third row.
If the browser screen width is greater than 600 pixels but less than or equal to 700 pixels, display the first image on the fourth row.
If the browser screen width is less than or equal to 600 pixels, display the last image, bottom-right (i.e., "The End"). */

/* CALCULATIONS
The total image is 333px X 500px. There are 4 rows, and 2 columns. This means that each image is 167px X 125px.
I will make a container that is 167px X 125px in dimension, and move it around depending on the size of the screen
in order to reveal different parts of the image */

.homer {
  background-image: url("homer.jpeg");
  width: 167px;
  height: 125px;
}

@media (max-width: 1200px) and (min-width: 1101px) {
  .homer {
    background-position: -167px 0;
  }
}
@media (max-width: 1100px) and (min-width: 1001px) {
  .homer {
    background-position: 0 -125px;
  }
}
@media (max-width: 1000px) and (min-width: 901px) {
  .homer {
    background-position: -167px -125px;
  }
}
@media (max-width: 900px) and (min-width: 801px) {
  .homer {
    background-position: 0 -250px;
  }
}
@media (max-width: 800px) and (min-width: 701px) {
  .homer {
    background-position: -167px -250px;
  }
}
@media (max-width: 700px) and (min-width: 601px) {
  .homer {
    background-position: 0 -3750px;
  }
}
@media (max-width: 600px) {
  .homer {
    background-position: -167px -375px;
  }
}
